@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Regular.otf');
};


$primary : #3c8d6f;
$primary-dark: #092012;
$secondary : #b4b4b4;
$secondary-light: #a8b2a8;
$white : #FFFFFF;
$black-light: #232723;
$black: #000000;

$font-family: 'Montserrat';

$breakpoint-md : 821px;
$breakpoint-lg : 1460px;
$breakpoint-sm : 460px;