.btn{
    padding: .5rem 2rem;
    border: none;
    font-size: 22px;
    font-family: $font-family;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
        img{
            width: 30px;
        }
}
.btn-primary{
    background-color: $primary;
    color: white;
    border-radius: 15px;
    border: 4px solid white;
}
.btn-secondary{
    background-color: white;
    color: $primary;
    border-radius: 15px;
}