.about-us{
    background-color: $primary-dark;
    width: 100vw;
    padding-top: 100vh;
    .container-about-us{
        padding: 0rem 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}
.banner-services{
    padding: 2rem;
    .container-banner-services {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        .box-services {
            padding: 2rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-bottom: 3px solid white;
            margin: 1rem;
            text-align: center;
            width: 50%;
            height: 100%;
            img {
                width: 100%;
            }
            .text-banner {
                font-size: 35px;
                color: white;
            }
        }
    }
}
.banner-bottom {
    padding: 2rem;
    height: 200px;
    background-image: url('/img/banner-bottom.jpg');
    background-color: rgb(100, 100, 100);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    .text-banner-bottom {
        color: white;
        font-size: 8vw;
        font-weight: bolder;
    }
}
.icons-services {
    width: 80%;
    padding: 2rem;
    .container-icons {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1rem;
        .icon {
            padding: 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            img {
                width: 30%;
            }
            .sub-title {
                color: yellow;
                font-size: 28px;
            }
            .text {
                font-size: 22px;
                color: white;
                font-weight: 200;
            }
        }
    }
}
.tech {
    background-color: white;
    .container-tech {
        width: 80%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1rem;
        .tech-info {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            img {
                width: 100%;
            }
            .title-tech{
                color: $primary;
                font-size: 8vw;
                font-weight: bolder;
                margin: 2rem;
            }
            .text {
                color: black;
                font-size: 5.5vw;
            }
            .tech-points {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
            }
        }
    }
}
.banner-bottom-section {
    background-image: url('/img/bg-banner-bottom.jpg');
    background-position: center;
    .container-banner-bottom {
        background-color: rgba(3, 54, 33, 0.575);
        .banner-points {
            padding: 1rem;
            background-color: $primary-dark;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            .banner-points-text{
                color: white;
                font-size: 5.5vw;
                list-style: none;
                text-align: center;
                justify-content: center;
                margin: 1rem 0rem;
                padding: 1rem 0rem;
            }
        }
        .banner-info {
            padding-top: 2rem;
            padding-bottom: 5rem;
            padding-left: 0rem;
            .banner-info-text {
                color: white;
                font-size: 5.5vw;
                width: 80%;
                margin: 2rem;
                text-align: center;
                .bigger {
                    font-size: 8vw !important;
                }
            }
            button {
                margin: auto;
            }
        }
    }
}
@media screen and (min-width: $breakpoint-md) {
    .padding {
        height: 90vh;
    }
    .about-us{
        width: 100vw;
        background-image: url('/img/texture.jpg');
        background-attachment: fixed;
        .container-about-us{
            padding: 3rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            .title{
                margin: 0;
            }
            .text-cont {
                text-align: center;
                width: 60%;
            }
        }
    }
    .banner-services{
        padding: 0rem;
        background-color: #e5e5f7;
opacity: 0.8;
background-size: 10px 10px;
background-image: repeating-linear-gradient(45deg, $primary 0, $primary-dark 1px, $primary 0, $primary-dark 30%);
        .container-banner-services {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding: 2rem;
            .box-services {
                padding-bottom: 2rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border-bottom: 3px solid white;
                margin: 1rem;
                text-align: center;
                width: 20%;
                height: 130px;
                transition: 0.1s linear;
                img {
                    width: 30%;
                    transition: 0.1s linear;
                }
                .text-banner {
                    font-size: 25px;
                    color: white;
                    margin: 0;
                    transition: 0.1s linear;
                }
            }
        }
        .box-services:hover {
            border-bottom: 3px solid rgb(211, 211, 211);
            img{
                width: 25%;
            }
            .text-banner {
                font-size: 25px;
                color: rgb(211, 211, 211);
                margin: 0;
            }
        }
    }
    .banner-bottom {
        padding: 2rem 5rem;
        height: 300px;
        background-image: url('/img/banner-bottom.jpg');
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        .text-banner-bottom {
            color: white;
            font-size: 3.3vw;
            font-weight: bolder;
            width: 55%;
        }
    }
    .icons-services {
        width: 80%;
        margin: auto;
        padding: 2rem;
        .container-icons {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 1rem;
            .icon {
                padding: 1rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                img {
                    width: 30%;
                }
                .sub-title {
                    color: yellow;
                    font-size: 28px;
                }
                .text {
                    font-size: 22px;
                    color: white;
                    font-weight: 200;
                }
            }
        }
    }
    .tech {
        background-color: white;
        .container-tech {
            width: 80%;
            margin: auto;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 1rem;
            .tech-info {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: justify;
                // img {
                //     width: 100%;
                // }
                .title-tech{
                    color: $primary;
                    font-size: 4vw;
                    font-weight: bolder;
                    margin: 0rem;
                }
                .text {
                    color: black;
                    font-size: 2vw;
                }
                .tech-points {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                }
            }
            .imstech{
                display: flex;
                flex-direction: column-reverse;
                margin: 2rem;
                .img-bottom{
                    width: 350px;
                    height: 250px;
                    background-image: url('/img/imb-bottom.jpg');
                    background-size: cover;
                    border: 15px solid white;
                    box-shadow: 0px 0px 5px gray;
                    margin-top: -100px;
                    cursor: pointer;
                    z-index: 1;
                    transition: 0.1s ease;
                }
                .img-bottom:hover{
                    margin-top: -180px;
                    width: 370px;
                    height: 270px;
                    box-shadow: 0px 0px 15px gray;
                }
                .img-up{
                    width: 300px;
                    height: 350px;
                    background-image: url('/img/img-up.jpg');
                    background-size: cover;
                    border: 15px solid white;
                    box-shadow: 0px 0px 5px gray;
                    margin-left: 150px;
                    cursor: pointer;
                    z-index: 0;
                    transition: 0.1s ease;
                }
                .img-up:hover{
                    z-index: 1;
                    margin-left: 120px;
                    width: 320px;
                    height: 370px;
                    box-shadow: 0px 0px 15px gray;
                }
            }
        }
    }
    .banner-bottom-section {
        background-image: url('/img/bg-banner-bottom.jpg');
        background-position: center;
        background-attachment: fixed;
        .container-banner-bottom {
            background-color: rgba(3, 54, 33, 0.575);
            .banner-points {
                padding: 1rem;
                background-color: $primary-dark;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;
                .banner-points-text{
                    color: white;
                    font-size: 2vw;
                    text-transform: uppercase;
                    font-weight: bolder;
                }
            }
            .banner-info {
                padding-top: 2rem;
                padding-bottom: 5rem;
                padding-left: 3rem;
                .banner-info-text {
                    color: white;
                    font-size: 2vw;
                    width: 50%;
                    margin: 2rem;
                    text-align: left;
                    .bigger {
                        font-size: 4vw !important;
                    }
                }
                button {
                    margin: 2rem;
                }
            }
        }
    }
}